vendor/
node_modules/
web/core/
web/modules/contrib/
web/themes/contrib/
web/profiles/contrib/
web/README.md
web/sites/development.services.yml
web/sites/default/default.services.yml
web/sites/*/files/
web/sites/*/private/
.codegraph/
.ddev/
composer.lock
pnpm-lock.yaml
