# DDEV generated/local state
.ddev-docker-compose-base.yaml
.ddev-docker-compose-full.yaml
.ddev-router-compose-full.yaml
.dbimageBuild/
.webimageBuild/
.env
.global_commands/
.homeadditions/
.downloads/
addon-metadata/
apache/
commands/
db-build/
db_snapshots/
homeadditions/
mutagen/
mysql/
nginx_full/
php/
providers/
share-providers/
traefik/
web-build/
web-entrypoint.d/
xhprof/
